<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Chat Messenger</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>

        <script src="../socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>