<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Chat Messenger</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body style="height: 100vh" class="bg-dark d-flex justify-content-center align-items-center">

        <h1 style="cursor: default" class="text-center text-light alert bg-primary">Hi, Welcome to the chat app.</h1>

        <script src="../socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>